@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
  font-size: 62.5%;
  --primary-color: #083D77;
  --background-color1: #06dda0;
  --background-color2: #1b9aaa;
  --white:#EAEBED;
  --error:#FF312E;
  --Font-main: 'Roboto', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Font-main);
}
body {
  background-image: linear-gradient(
    to right,
    var(--background-color1),
    var(--background-color2)
  );
  height: 100vh;
  width: 100vw;
  display: flex;
}
.container {
  margin: auto;
  padding: 2.5rem;
  border: 2px solid var(--white);
  border-radius: 5px;
  width: min(60rem, 90%);

}
.new-task{
  padding: 2.8rem 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.new-task input{
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid var(--primary-color);
  font-size: 1.6rem;
  flex: 3;
  color: var(--primary-color);
}
input::placeholder{
  color: var(--primary-color);
  font-weight:300;
  word-break: break-all;
}
input:focus{
  outline: 2px solid var(--primary-color);
  border: 1px solid var(--white);
}
.new-task button{
  padding: 1rem;
  border-radius:5px ;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--primary-color);
  flex: 1;
  cursor: pointer;
}
#tasks{
  display: none;
  background-color: var(--white);
  padding: 2rem;
  margin-top: 3rem;
  border-radius: .5rem;
  max-width: 95%;
}
#tasks.visible{
  display: block;
}
#tasks p{
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 500;
  max-width: 85%;
  word-break: break-all;
}
p.completed{
  text-decoration: line-through;
}
.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block:.5rem;
}
.task i{
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
  padding: .5rem 1rem;
}
input.isEmpty{
  border: 1px solid var(--error);
}
input.isEmpty::placeholder{
  color: var(--error);
}
input.isEmpty:focus{
  outline: 2px solid  var(--error);
  border: 1px solid var(--white);
}
