@charset "utf-8";
:root{
  box-sizing: border-box;
  font-size: 62.5%;
  --main-color: #083D77;
  --background-color1: #06dda0;
  --background-color2: #1b9aaa;
  --white:#EAEBED;
}
body{
  background-image: linear-gradient(
    to right,
    var(--background-color1),
    var(--background-color2)
  );
}
.container{
  max-width: 700px;
  min-height: 100vh;
  display: flex;
  margin: auto;
  
}
section main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.entrances{
  margin-block: 5vh;
  width: 100%;
  flex: 1;
}
input[type=search]::placeholder{
  color: var(--main-color);
  font-weight:300;
  font-size: 1.4rem;
}
input[type=search] {
  display: block;
  max-width: 500px;
  width: 80%;
  margin: auto;
  height:5rem;
  background-color:  var(--white);
  border-radius: .5rem;
  margin-bottom: 8vh;
  padding-inline: 2rem;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  font-size: 1.4rem;
  font-weight: 700;
}
input[type=search]:focus{
  outline: 2px solid var(--main-color);
  border: 1px solid var(--white);
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 10%;
}
.button, #play{
  height: 4rem;
  width: 12rem;
  background-color: var(--main-color);
  color:  var(--white);
  border: 0px solid  var(--white);
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: .4rem;
}
.show-words{
  display: none;
  width: 80%;
  border-radius: .5rem;
  background: var(--white);
  box-shadow:  18px 18px 79px #00000056;
  color: var(--main-color);
  padding: 1rem;
  margin-block: 5vh;
  margin-inline: 2rem;
  text-align: center;
}
.show-words.visible{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
}
.show-words h2{
  font-weight: 700;
  font-size: 1.8rem;
}
.show-words p{
  font-size: 1.6rem;
}
@media (min-width:700px) {
  .container {
    max-width: 1000px;
  }
  section main{
    flex-direction: row-reverse;
  }
}
