@charset 'utf-8';
:root{
  box-sizing: border-box;
  font-size: 62.5%;
}
body{
  
  height: 100vh;
    background-image: url(../imagens/ceu-estrelado.jpg);
  background-size: cover;
}
.container{
  max-width: 98vw;
}
section{
  height:100%;
}
section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
input[type=search] {
  display: block;
  width: 80vw;
  height:5rem;
  background-color: gray;
  border-radius: 3rem;
  margin-bottom: 10vh;
  padding-inline: 2rem;
  border: none;
  color: black;
}
input[type=search]:focus{
  outline: 2px solid darkcyan;
}
input[type=search]::placeholder{
  color: whitesmoke;
}
input[type=submit]{
  height: 4rem;
  width: 8rem;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 3rem;
  margin-bottom: 10vh;
}
